<div class="row">
  <div class="col-xs-4 col-md-4 text-center">
    <a ui-sref="^.stats">
        <img height="100px" src="img/stats.svg" />
        <h5>Stats</h5>
    </a>
  </div>
  <div class="col-xs-4 col-md-4 text-center">
    <a ui-sref="^.game">
        <img height="100px" src="img/bowling.png" />
        <h5>Game</h5>
    </a>
  </div>
  <div class="col-xs-4 col-md-4 text-center">
    <a ui-sref="^.league">
        <img height="100px" src="img/team.svg" />
        <h5>League</h5>
    </a>
  </div>
</div>
